body{
    background-image: url(../../images/Bg.png);
    background-color: #cccccc;
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ride-cart{
    display: inline-block;
    background-color: white;
    margin: 100px 0 0 60px   ;
    width: 240px;
    height: 200px;
    border-radius: 8px;
    cursor: pointer;
}
.ride-cart img{
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.ride-cart h4{
    margin-top: 30px;
    text-align: center;
}