form{
    width: 350px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #ffffff5e;
}
.main-input{
    width: 290px;
    margin: 15px auto;
    display: block;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #ffffff5e;
    outline: none;
}
.submit-input{
    width: 290px;
    margin: auto;
    display: block;
    background-color: #FF6E40;
    color: white;
    border: none;
    padding: 7px;

}
.forget-password{
    color: #FF6E40;
    position: relative;
    left: 57px;
}
.create-account{
    color: #FF6E40;
}
.have-account{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}
.remember-forget-password{
    margin-top: 15px;
}
a:hover{
    text-decoration: none;
    color: #FF6E40;
}

/* side line */

.this:after,
.this:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    margin: auto 0.5em;
}
.this{
    position: relative;
    left: 46.5%;
transform: translateX(-50%);
}
.social-main{
    display: grid;
    grid-template-columns: repeat(2,350px);
    justify-content: center;
}
.loginWith-social{
    padding: 10px 20px;
    margin: auto;
    background-color: #ffffff80;
    border: 1px solid white;
    border-radius: 5px;
}
.loginWith-social:hover{
    background-color: white;
}
.loginWith-social img{
    width: 60px;
}
.loginWith-social h5{
    display: inline-block;
    position: relative;
    top: 3px;
}

@media(max-width:860px){
    .social-main{
        grid-template-columns: repeat(1,350px);
    }
    .google{
        width: 300px;
        margin-top: 10px;
        height: 78px;
    }
    .this{
        left: 40%;
    }
}